.skills-heading {
  font-size: 1.3rem;
  line-height: 2.2rem;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.skills-text {
  font-size: 1rem;
  letter-spacing: 1px;
}
.space {
  margin-bottom: 100px;
}

@media (max-width: 643px) {
  .lottie {
    height: 300;
    width: 300;
  }
}
