.certs-header {
  font-size: 40px;
  line-height: 1.1;
  font-family: 'Google Sans Regular';
  text-align: center;
}

.certs-body-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.underline {
  width: 7rem;
  height: 0.2rem;
  background: #3c094f;
  /* background: var(--clr-primary-5); */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media (max-width: 1380px) {
  .certs-header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .certs-body-div {
    flex-direction: column;
  }

  .certs-header {
    font-size: 30px;
  }
}
